.DS_Store
.svn
build/
*.ipa
*.app
dist/
*.xcodeproj/
!Share.xcodeproj/project.pbxproj
!*.xcodeproj/project.pbxproj
DerivedData/
*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
.vscode/

.idea
